@import "tailwindcss";
/* src/index.css */

@keyframes slideUpIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slideDownIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.animate-slide-up {
    animation: slideUpIn 0.4s ease-out;
}

.animate-slide-down {
    animation: slideDownIn 0.4s ease-out;
}